<div class="left-side">
  <div class="sidebar left ">
    <div class="position-nav">
      <ul class="list-sidebar">
        <li><a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-home" aria-hidden="true"></i><span class="nav-label">Cost Management</span><span class="fa fa-angle-down pull-right"></span></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/dashboard"><i class="fa fa-home" aria-hidden="true"></i>Dashboard</a>
            <a class="dropdown-item" href="#"><i class="fa fa-home" aria-hidden="true"></i>Quota Management</a>
            <a class="dropdown-item" routerLink="/cloud-billing"><i class="fa fa-home" aria-hidden="true"></i>Cloud Billing</a>
            <a class="dropdown-item" routerLink="/resources"><i class="fa fa-home" aria-hidden="true"></i>Resources</a>
            <a class="dropdown-item" href="#"><i class="fa fa-home" aria-hidden="true"></i>EA Management</a>
            <a class="dropdown-item" href="#"><i class="fa fa-home" aria-hidden="true"></i>Optimization Engine</a>
          </div>
        </li>
        <li><a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-university" aria-hidden="true"></i><span class="nav-label">MarketPlace</span><span class="fa fa-angle-down pull-right"></span></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"> Templates</a>
            <a class="dropdown-item" href="#"> Service Catalogs</a>
            <a class="dropdown-item" href="#"> Deployments</a>
          </div>
        </li>
        <li> <a routerLink="/subscription"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i><span class="nav-label">Subscriptions</span></a> </li>
        <li> <a routerLink="/organization-units"><i class="fa fa-building-o" aria-hidden="true"></i><span class="nav-label">Organizational Units</span></a></li>
        <li> <a href="#"><i class="fa fa-tasks" aria-hidden="true"></i><span class="nav-label">Projects</span></a></li>
        <li> <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-files-o"></i><span class="nav-label">Policy Engine</span><span class="fa fa-angle-down pull-right"></span></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"> Policies</a>
            <a class="dropdown-item" href="#"> Audit Reports</a>
            <a class="dropdown-item" href="#"> Security Advisor</a>
          </div>
        </li>
        <li> <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs" aria-hidden="true"></i><span class="nav-label">Settings</span><span class="fa fa-angle-down pull-right"></span></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#"> User Management</a>
            <a class="dropdown-item" href="#"> IAM</a>
            <a class="dropdown-item" href="#"> Email Settings</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>