<div class="header-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="logo-sec">
            <button class="button-left"><span class="fa fa-fw fa-bars "></span></button> <h1>CloudArt</h1>
          </div>
        </div>
        <div class="col-md-8">
          <div class="header-top-right">
            <ul>
              <div class="other-nav">
                <li><a data-toggle="dropdown"><i class="fa fa-bell-o" aria-hidden="true"></i>Notification</a>
                  <div class="dropdown-menu">
                    <div class="notification-box">
                      <ul>
                        <li>
                          <img src="assets/images/notification-icon.png">
                          <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                        </li>
                        <li>
                          <img src="assets/images/notification-icon.png">
                          <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                        </li>
                        <li>
                          <img src="assets/images/notification-icon.png">
                          <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                        </li>
                        <li>
                          <img src="assets/images/notification-icon.png">
                          <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                        </li>
                        <li>
                          <img src="assets/images/notification-icon.png">
                          <a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                        </li>
                      </ul>
                      <button class="noti-btn">View More</button>
                    </div>
                  </div>
                </li>
                <li><a data-toggle="dropdown"><i class="fa fa-question" aria-hidden="true"></i>Help</a>
                  <div class="dropdown-menu">
                    <a href="#">User Guide</a>
                    <a href="#">About</a>
                  </div>
                </li>
              </div>
              <li class="profile"><button data-toggle="dropdown"><img src="assets/images/profile-icon.png">Profile Name</button>
                <div class="dropdown-menu">
                  <div class="profile-right">
                    <ul>
                      <li><h5><a href="">CloudArt</a></h5></li>
                      <li><button>Sign Out</button></li>
                    </ul>
                    <h3><img src="assets/images/profile-icon.png"><a routerLink="/profile">Profile Name</a></h3>
                    <h6><a routerLink="/reset-password"><i class="fa fa-lock" aria-hidden="true"></i> Reset Password</a></h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>