<app-header></app-header>
  <div class="inner-body">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="container-fluid">
      <div class="breadcramb-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><span>My Profile</span></li>
        </ul>
      </div>
      <div class="body-content">
          <div class="sub-head">
            <div class="row">
              <div class="col-md-5">
                <h2>My Profile</h2>
              </div>
              <div class="col-md-7">
              </div>
            </div>
          </div>

          <div class="profile-dtl">
            <div class="row justify-content-center">
              <div class="col-md-2 imageBox">
                <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="#" class="changeImage">Change Profile Image</a>
                <img class="image" src="assets/images/profile-img.png">
              </div>
              <div class="col-md-9">
                <div class="row mt-4">
                  <div class="col-md-6">
                    <label>First Name</label>
                    <p>John</p>
                  </div>
                  <div class="col-md-6">
                    <label>Last Name</label>
                    <p>Smith</p>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-md-6">
                    <label>Email</label>
                    <p>johnsmith@gmail.com</p>
                  </div>
                  <div class="col-md-6">
                    <label>Mobile Number</label>
                    <p>897654321</p>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col-md-6">
                    <label>Designation</label>
                    <p>Manager</p>
                  </div>
                  <div class="col-md-6">
                    <label>Role</label>
                    <p>Subscriber</p>
                  </div>
                </div>

                <div class="row my-4">
                  <div class="col-md-6">
                    <label>DOB</label>
                    <p>19-may-1980</p>
                  </div>
                  <div class="col-md-6">
                   
                  </div>
                </div>

              </div>
            </div>

            <div class="add-subs-footer">
            </div>
            
          </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>