<app-header></app-header>
  <div class="inner-body">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="container-fluid">
      <div class="breadcramb-nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Subscriptions</a></li>
          <li><span>Subscriptions Preview</span></li>
        </ul>
      </div>
      <div class="body-content">
        <div class="subs-preview">
            <div class="subss-cnt">
                <h2>Subscription & Billing</h2>
                <div class="row">
                    <div class="col-md-6">
                    <p><span>Subscription Name</span>azuretest15gvtest</p>
                    </div>
                    <div class="col-md-6">
                    <p><span>Application ID</span>123</p>
                    </div>
                    <div class="col-md-6">
                    <p><span>Secret Key</span>213kyd</p>
                    </div>
                    <div class="col-md-6">
                    <p><span>Project</span>Puniya ctc</p>
                    </div>
                    <div class="col-md-6">
                    <p><span>Bucket Name</span>Dheerajpunia</p>
                    </div>
                    <div class="col-md-6">
                    <p><span>Report Name</span>azuretest15gvtest</p>
                    </div>
                    <div class="col-md-6">
                    <p><span>Report Name</span>Test Content</p>
                    </div>
                </div>
            </div>
            <div class="subss-cnt mid">
                <h2>Default Zones</h2>
                <div class="row">
                    <div class="col-md-4">
                        <p><span>US NorthEast</span></p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 1</p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><span>US SouthEast</span></p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 1</p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><span>US NorthCentral</span></p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 1</p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><span>US South Central</span></p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 1</p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><span>US NorthWest</span></p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 1</p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><span>US SouthWest</span></p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 1</p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><span>Canada East</span></p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 1</p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><span>Canada Central</span></p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 1</p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><span>APAC south</span></p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 1</p>
                    </div>
                    <div class="col-md-4">
                        <p>Option 2</p>
                    </div>
                </div>
            </div>
            <div class="subss-cnt">
                <h2>User Credentials</h2>
                <div class="user-bx">
                    <div class="row">
                        <div class="col-md-4">
                        <p><span>Name</span>Dheeraj</p>
                        </div>
                        <div class="col-md-4">
                        <p><span>OS Type</span>123</p>
                        </div>
                        <div class="col-md-4">
                        <p><span>Key name</span>213kyd</p>
                        </div>
                        <div class="col-md-12">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>