
.check { display: block; position: relative; padding-left: 25px; margin-bottom:0; padding-right: 15px; cursor: pointer;font-size: 18px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

.check input {  position: absolute; opacity: 0; cursor: pointer;}

.checkmark { position: absolute; top: 3px; left: 0; height: 18px; width: 18px; background-color: #fff ; border-color:#c3c3c3; border-style:solid; border-width:2px; border-radius: 2px;} 

.check input:checked ~ .checkmark { background-color: #fff  ;}
.checkmark:after { content: ""; position: absolute; display: none;}

.check input:checked ~ .checkmark:after { display: block; }

.check .checkmark:after { left: 5px; top: 1px; width: 5px; height: 10px; border: solid ; border-color:#c3c3c3;
    border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}

    .pagination a {
        border-radius:50%;
        background-color: darkgrey;
        color:black;
        /* padding-top:1px;
        padding-bottom:1px; */
        margin-right:6px;
        margin-left:6px;
    }

    .page-link {
        padding: .2rem .5rem;
    }

    .subscription-box input[type=text] {
        max-width: 180px;
      }

    .btnOptions{
        background-color: transparent !important;
        color:grey !important;
        border:1px solid lightgrey;
        padding-left:65px;
        padding-right:65px;
    }

    .btn {
        background-color: #1BABB4;
        color: #ffff;
        margin:10px;
    }
