<app-header></app-header>
  <div class="inner-body">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="container-fluid">
      <div class="breadcramb-nav">
        <ul>
          <li><a routerLink="/dashboard">Home</a></li>
          <li><a routerLink="/subscription">Subscription</a></li>
          <li><span>Google Billing</span></li>
        </ul>
      </div>
      <div class="body-content">
        <div class="billing-header">
          <div class="row">
            <div class="col-md-5">
              <h2>Google Billing</h2>
            </div>
            <div class="col-md-7">
              <div class="right-help">
                <a routerLink="/subscription">View Subscription</a>
              </div>
            </div>
          </div>
        </div>
        <div class="billing-box-row">
            <h2>Google Test Subcription</h2>
          <div class="google-billing-form">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Biilbing Account ID</label>
                    <input type="text" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>BigQueryDataSetID</label>
                    <input type="text" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>BigqueryTableID</label>
                    <input type="text" placeholder="">
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Upload File</label>
                        <input _ngcontent-myy-c24="" type="file" value="" placeholder=""
                    ></div>
                  </div>
              </div>
              <div class="sbm-btn">
                <button type="button" class="clear-btn">Clear</button>
                <button type="button">Submit</button>
              </div>
            </form>
          </div>
          <div class="billing-box-footer">
            <p>All fields are mandatory</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  