<app-header></app-header>
  <div class="inner-body">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="container-fluid">
      <div class="breadcramb-nav">
        <ul>
          <li><a routerLink="/dashboard">Home</a></li>
          <li><a routerLink="/organization-units">Organization Unit</a></li>
          <li><a routerLink="/manage-project">Manage Projects </a></li>
          <li><span>Add Project</span></li>
        </ul>
      </div>
      <div class="body-content">
        <div class="add-org-project-head">
          <div class="row">
            <div class="col-md-5">
              <h2>Add Project</h2>
            </div>
            <div class="col-md-7">
              <div class="right-help">
                <a routerLink="/manage-project">View Projects</a>
              </div>
            </div>
          </div>
        </div>
        <div class="add-project-row">
          <div class="title-org">
            <h2>BioHoldingInc Organization</h2>
          </div>
          <aw-wizard>
            <aw-wizard-step stepTitle="Details">
              <form>
                <div class="org-project-form">
                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Project Name</label>
                        <input type="text" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                      <label>Alias/Nickname</label>
                      <input type="text" value="">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                      <label>Organization/Reference ID</label>
                      <input type="text" value="">
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Description</label>
                          <textarea></textarea>
                        </div>
                    </div>
                  </div> 
                  <div class="add-tag">
                    <h2><button>Add New Tag</button></h2>
                    <div class="add-tag-box">
                      <div class="tag-row">
                        <button class="delete-tag"><i aria-hidden="true" class="fa fa-trash-o"></i></button>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tex" placeholder="Tag Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tex" placeholder="Tag Value">
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="tag-row">
                        <button class="delete-tag"><i aria-hidden="true" class="fa fa-trash-o"></i></button>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tex" placeholder="Tag Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tex" placeholder="Tag Value">
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="tag-row">
                        <button class="delete-tag"><i aria-hidden="true" class="fa fa-trash-o"></i></button>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tex" placeholder="Tag Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="tex" placeholder="Tag Value">
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sbm-btn">
                  <button class="left-btn" type="button">Cancel</button>
                  <button class="right-btn" type="button" awNextStep>Submit</button>
                </div>
                <div class="form-footer"></div>
              </form>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>