<app-header></app-header>
  <div class="inner-body">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="container-fluid">
      <div class="body-content pt-1">
        
        <div class="org-Details-top">
            <div class="row">
              <div class="col-md-5">
                <div class="org-Details-top-left">
                  <h5>Click on the organizational chart to view all the Projects</h5>
                 </div>
              </div>
              <div class="col-md-7">
                <div class="org-Details-top-right">
                  <label><input type="radio" class="radio-inline" name="radios" value="" checked><span class="outside"><span class="inside"></span></span>All</label>
                  <label><input type="radio"class="radio-inline" name="radios" value=""><span class="outside"><span class="inside"></span></span>AWS</label>
                  <label><input type="radio" class="radio-inline" name="radios" value=""><span class="outside"><span class="inside"></span></span>Azure</label>
                  <label><input type="radio" class="radio-inline" name="radios" value=""><span class="outside"><span class="inside"></span></span>Google</label>
                  <label><input type="radio" class="radio-inline" name="radios" value=""><span class="outside"><span class="inside"></span></span>Half Yearly</label>
                  <label><input type="radio"class="radio-inline" name="radios" value=""><span class="outside"><span class="inside"></span></span>Quarterly</label>
                  <label><input type="radio" class="radio-inline" name="radios" value=""><span class="outside"><span class="inside"></span></span>Monthly</label>
                </div>
              </div>
            </div>
          </div>

          <div class="org-chart-row mt-0">
          <div class="col-md-12">
              <div class="org-graph-box" style="height:400px">
                <div class="org-graph-header">
                  <div class="row">
                  <div class="col-md-8">
                    <h4>Organizations Details</h4>
                 </div>
                 <div class="col-md-4 headerRight">
                  <button class="btn btnColor" routerLink= "/projectenvironment">View All Environments</button>
                  <button class="btn btnColor" routerLink= "/project-details">View All Projects</button>
                  <button class="btn btn-outline" routerLink= "/dashboard">Back to DashBoard</button>
               </div>
              </div>
                </div>

                <!-- <canvas id="organizationalBarChart"></canvas> -->

                <div class="organization-detail-chart-wrapper mt-4">
                  <canvas baseChart 
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
                </canvas>
              </div>

                <div class="orggraph-footer">
                </div>
              </div>
            </div>
            
            </div>

            <div class="row">
              <div class="col-md-5 org-search-text">
                <h3>Available Organization</h3>
              </div>
              <div class="col-md-7 org-search">
                <form class="suggest-srch">
                  <input type="tex" placeholder="Search Organization"><button><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>

            <div class="org-table-row justify-content-center">
              <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Organization Name</th>
                    <th>Cost(In $)</th>
                    <th class="text-center">Consumption</th>
                    <th class="text-center">View Insights</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Amazon</td>
                    <td>200</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100">94%</div>
                      </div>
                    </td>
                    <td class="textRight"><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td>AWS</td>
                    <td>400</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    <td class="textRight"><a href="#">View</a></td>
                  </tr>
                  <tr>
                    <td>SAIL</td>
                    <td>500</td>
                    <td>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 64%" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100">64%</div>
                      </div>
                    </td>
                    <td class="textRight"><a href="#">View</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
    </div>
</div>
<app-footer></app-footer>