<app-header></app-header>
  <div class="inner-body">
    <app-sidebar-menu></app-sidebar-menu>
    <div class="container-fluid">
      <div class="breadcramb-nav">
        <ul>
          <li><a routerLink="/dashboard">Home</a></li>
          <li><a routerLink="/subscription">Subscription</a></li>
          <li><a routerLink="/deployment-setting">Deployment Settings</a></li>
          <li><span>Add Credentials</span></li>
        </ul>
      </div>
      <div class="body-content">
        <div class="user-cred-head">
          <div class="row">
            <div class="col-md-5">
              <h2>Add Credential</h2>
            </div>
            <div class="col-md-7">
              <div class="right-help">
                <a routerLink="/deployment-setting">View Deployment</a>
              </div>
            </div>
          </div>
        </div>
        <div class="add-cred-form">
            <div class="add-user-head">
                <h5>Azure Test Subcription</h5>
            </div>
            <div class="credentail-user">
                <h5>Credentials Details<span><button><i class="fa fa-user-plus" aria-hidden="true"></i> Add Credentials</button></span></h5>
            </div>
            <form>
                <div class="add-user-box-row">
                  <div class="add-user-box">
                    <button class="delete-user"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    <div class="row">
                        <div class="col-md-1">
                        <div class="form-group">
                            <label>S.No.</label>
                            <p>1</p>
                        </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Credential Name</label>
                                <input type="text" placeholder="Enter Credential Name">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>OS Type</label>
                                <ng-select2>
                                    <option>Linux</option>
                                    <option>Windows</option>
                                </ng-select2>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Key name</label>
                                <input type="text" placeholder="Enter Key name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea>Start Description here...</textarea>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                  <div class="sbm-btn">
                      <button type="button" class="clear-btn">Clear</button>
                      <button type="button">Submit</button>
                  </div>
                </form>    
          <div class="add-subs-footer"></div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
  